# 28-5-2020
## Strings

In [2]:
s1=input("enter a string:")
s2='good afternoon'
print(type(s1),type(s2))

enter a string:shreyas
<class 'str'> <class 'str'>

In [3]:
#operators:+,*(repetition),[](slice),[:](slice range)
print(s1+s2)
print(s1*3)
print(s1[4])
print(s1[-1])
print(s1[2:])

shreyasgood afternoon
shreyasshreyasshreyas
y
s
reyas

In [4]:
print(s1[0:5])
print(s1[:])

shrey
shreyas

In [5]:
#accept a string from the user and check whether it is palindrome or not
s3=input("enter a string:")
if s3==s3[::-1]:
    print("the given string is plaindrome")
else:
    print("the given string is not a palindrome")

enter a string:shreyas
the given string is not a palindrome

In [6]:
s4="python"
print("on" in s4)
print("xyz" in s4)
print("on" not in s4)
print("xyz" not in s4)

True
False
False
True

# Built-in function:
1. len() -->length of the string
2. max()
3. min()
4. str() -->converting any datatype to string

In [7]:
s="hello"
s1="abc123"
print(len(s))
print(max(s))
print(min(s))
print(max(s1))
print(min(s1))

5
o
e
c
1

#Built-in methods:
1. captalize()
2. isalpha()
3. isdigit()
4. isalnum()
5. islower()
6. upper()
7. lower()
8. swapcase()

In [10]:
s="hello"
print(len(s))#function name(object name)
print(s.capitalize())#object name.method name()
print(s)

5
Hello
hello

In [11]:
s1="hello"
s2="abc123"
s3="123"
print(s1.isalpha())
print(s1.isdigit())
print(s1.isalnum())
print(s2.isalpha())
print(s2.isdigit())
print(s2.isalnum())
print(s3.isalpha())
print(s3.isdigit())
print(s3.isalnum())

True
False
True
False
False
True
False
True
True

In [12]:
s1="python"
s2="PYTHON"
print(s1.isupper())
print(s2.isupper())
print(s1.islower())
print(s2.islower())

False
True
True
False

In [13]:
print(s1.upper())
print(s1.lower())
print(s1.swapcase())

PYTHON
python
PYTHON

In [14]:
s="PYthON"
print(s.swapcase())#pyTHon

pyTHon

In [15]:
s="abc abc abc"
s.count("abc")

3

In [16]:
#split()-->return type is list
s.split()
print(s.split())
s1="a,b,c,d"
print(s1.split(","))

['abc', 'abc', 'abc']
['a', 'b', 'c', 'd']

In [17]:
#replace -->
s="abc"
s=s.replace('b','z')
print(s)

azc

In [18]:
#accept a number(n) from the user and remove nth position
#character from the string
#n=3
#s=abcabc
#output:ababc
n=int(input("enter position:"))
s=input("enter a string:")
print(s.replace(s[n-1],"",1))

enter position:4
enter a string:shreyas
shryas

# for loop:
1. for loop with range() function
2. for loop wth iterable object

In [19]:
#print 1-n numbers on the screen
n=10
for i in range(1,n+1):
  print(i,end=" ")
print()
i=1
while i<=n:
  print(i,end=" ")
  i+=1

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [20]:
s="python"
for i in s:
   print(i)
  
#using while loop all the characters of your string vert
i=0
while i<len(s):
  print(s[i])
  i+=1

#using for loop but you should not use iterale object
for j in range(0,len(s)):
    print(s[j])

p
y
t
h
o
n
p
y
t
h
o
n
p
y
t
h
o
n